input[type="text"], input[type="password"], input[type="email"], input[type="date"], select{
    border: var(--foreground) 2px solid;
    background-color: var(--background);
    border-radius: 5px;
    padding: 10px;
    color: black;
}